.cart h1 {
text-align: center;
color: darkcyan;
}

.cart .cart-prod {
border: 1px solid #333;
background-color: aliceblue;
padding: 5px 10px;
margin-top: 10px;
display: flex;
color: black;
align-items: center;
}

.cart .cart-prod img {
width: 110px;
}

.cart .info {
flex: 5;
}

.cart label {
flex: 1;
}

.cart .parent {
display: flex;
}

.cart .list {
flex: 3;
}

.cart .aside {
flex: 1;
border: 1px solid #fafafa;
border-radius: 4px;
background-color: #fafafa;
}